{% comment %}
    Renders a line item 
    Usage:
        {% render 'line-item', item: item %}
{% endcomment %}
<div class="line-item">
    <div class="line-item__inner">
        <div class=""
    </div>
</div>