<div class="menu-drawer">
    <div class="menu-drawer__inner">
        <a class="menu-drawer__link" href="#">Home</a>
        <a class="menu-drawer__link" href="#">About Us</a>
        <a class="menu-drawer__link" href="#">Stories</a>
        <a class="menu-drawer__link" href="#">Press</a>
    </div>
</div>