{% if cart.item_count > 0 %}
    <div class="cart page-width">
        <div class="cart__head section__head">
            <h1 class="section__title">your bag</h1>
        </div>
        <div class="cart__body section__body">
            <table class="cart__items">
                <tr>
                    <th class="line-item__product">Product</th>
                    <th class="line-item__price">Price</th>
                    <th class="line-item__qty">Quantity</th>
                    <th class="line-item__total">Total</th>
                </tr>
                <tr class="line-item">
                    <td class="line-item__product">
                        <div class="line-item__single single">
                            <div class="line-item__img-wrapper single__img-wrapper">
                                <img src="{{ 'morocco-graphite-3-piece-sectional-with-white-sunbrella-cushions.jpg' | asset_img_url: '110x110' }}"/>
                            </div>
                            <div class="line-item__details single__details">
                                <h6 class="line-item__title single__title">Dune Navy Blue Sofa With sunbrella</h6>
                                <button class="line-item__remove single__remove no-type" type="button">remove</button>
                                <div class="line-item__hidden-qty-price">
                                    <div>
                                        <label for="qty-input">Qty</label>
                                        <input id="qty-input" class="line-item__qty-input" value="1" min="1" pattern="[0-9]"/>
                                    </div>
                                    <span>$100.00</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="line-item__price">
                        <span>$200.00</span>
                    </td>
                    <td class="line-item__qty">
                        <input class="line-item__qty-input" value="1" min="1" pattern="[0-9]"/>
                    </td>
                    <td class="line-item__total">
                        <span>$200.00</span>
                    </td>
                </tr>
                <tr class="line-item">
                    <td class="line-item__product">
                        <div class="line-item__single single">
                            <div class="line-item__img-wrapper single__img-wrapper">
                                <img src="{{ 'morocco-graphite-3-piece-sectional-with-white-sunbrella-cushions.jpg' | asset_img_url: '110x110' }}"/>
                            </div>
                            <div class="line-item__details single__details">
                                <h6 class="line-item__title single__title">Dune Navy Blue Sofa With sunbrella</h6>
                                <button class="line-item__remove single__remove no-type" type="button">remove</button>
                                <div class="line-item__hidden-qty-price">
                                    <div>
                                        <label for="qty-input">Qty</label>
                                        <input id="qty-input" class="line-item__qty-input" value="1" min="1" pattern="[0-9]"/>
                                    </div>
                                    <span>$100.00</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="line-item__price">
                        <span>$200.00</span>
                    </td>
                    <td class="line-item__qty">
                        <input class="line-item__qty-input" value="1" min="1" pattern="[0-9]"/>
                    </td>
                    <td class="line-item__total">
                        <span>$200.00</span>
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-end">
                <div class="subtotal">
                    <div class="subtotal__inner">
                        <div class="subtotal__head">
                            <span class="subtotal__label">subtotal</span>
                            <span class="subtotal__price">$90.00</span>
                        </div>
                        <div class="subtotal__body">
                            <p class="subtotal__note">Taxes and shipping calculated at checkout</p>
                            <a class="subtotal__checkout btn" href="#">checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="empty-cart page-width">
        <div class="empty-cart__inner">
            <div class="empty-cart__head section__head">
                <h1 class="section__title">your bag</h1>
            </div>
            <div class="empty-cart__body section__body">
                <div class="empty-cart__content-wrapper">
                    <h2 class="empty-cart__heading">your bag is empty</h2>
                    <div class="empty-cart__link-wrapper"><a class="empty-cart__link no-type"></a></div>
                </div>
                
            </div>
        </div>
    </div>
{% endif %}
