{% case section.settings.grid %}
    {% when 2 %}
        {%- assign max_height = 530 -%}
        {%- assign grid_item_width = 'col-6' -%}
    {% when 3 %}
        {%- assign max_height = 345 -%}
        {%- assign grid_item_width = 'col-6 col-sm-4 col-lg-4' -%}
    {% when 4 %}
        {%- assign max_height = 250 -%}
        {%- assign grid_item_width = 'col-6 col-sm-6 col-md-3' -%}
{% endcase %}
{% if section.settings.layout == 'grid' %}
  {%- assign limit = 2 -%}
{% endif %}
<div class="collection-page__grid row flex-wrap collection">
  {% assign sorted_collection = collection.sort_by %}
  {% paginate collection.products by 2 %}
  {% for product in collection.products %}
    <div class="grid-item {{ grid_item_width }}">
      {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    </div>
  {% endfor %}
  <div class="page-width d-flex justify-content-center">
    {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
    {%- endif -%}
  </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name":"Collection pages",
  "settings":[
    {
      "type":"range",
      "id":"grid",
      "label":"Products per row (grid only)",
      "default": 2,
      "min":2,
      "max":4,
      "step":1
    },
    {
      "type":"checkbox",
      "id":"show_collection_image",
      "label":"Show collection image",
      "default":true
    },
    {
      "type":"checkbox",
      "id":"show_vendor",
      "label":"Show product vendors",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"tags_enable",
      "label":"Enable tag filtering",
      "default":true
    }
  ]
}
{% endschema %}